
testAppRepo/bin/roslyn/VBCSCompiler.exe
testAppRepo/bin/roslyn/System.Reflection.Metadata.dll
testAppRepo/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
testAppRepo/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
testAppRepo/bin/roslyn/Microsoft.CodeAnalysis.dll
testAppRepo/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
.vs/testAppRepo/v15/.suo
.vs/testAppRepo/v15/Server/sqlite3/storage.ide-shm
.vs/testAppRepo/v15/Server/sqlite3/storage.ide-wal
testAppRepo/obj/Debug/testAppRepo.csprojAssemblyReference.cache
.vs/testAppRepo/v15/.suo
.vs/testAppRepo/v15/.suo
.vs/testAppRepo/v15/Server/sqlite3/storage.ide-shm
.vs/testAppRepo/v15/Server/sqlite3/storage.ide-wal
testAppRepo/bin/testAppRepo.dll
testAppRepo/bin/testAppRepo.pdb
testAppRepo/obj/Debug/testAppRepo.csprojAssemblyReference.cache
testAppRepo/obj/Debug/testAppRepo.dll
testAppRepo/obj/Debug/testAppRepo.pdb
