
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Index</h2>
<div class="container">
    <div class="alert alert-info" role="alert">
        Mi segundo nombre es Adán
    </div>
</div>
